# Erstmal alles ignorieren
*

# Verzeichnisse zulassen, damit Git darin nach Dateien suchen kann
!*/

# Whitelist für die Quelldateien
!.gitignore
!*.yml
!*.ipynb
!*.md
!*.qmd
!*.png
!*.jpg
!*.svg

# Explizite Ausschlüsse (Diese Ordner und deren Inhalt werden ignoriert)
.venv/
.quarto/
_site/
_freeze/
docs/
/.quarto/
**/*.quarto_ipynb
